<div class = main-container>
    <div  id='map' class= 'map'>

    </div>
    <div id = 'side-panel' class = 'side-panel'>
        <div class = 'side-panel-top'>
            <div class = logo-container>
                <mat-icon class = 'logo' aria-hidden="false" aria-label="Dash Logo">videocam</mat-icon>
                <span class = 'logo-text'>Dash</span>
            </div>
        </div>
        <div class = 'side-panel-main'>
            
        </div>
        
    </div>
    <div id='searchbar' class = 'searchbar-container'>
        <div class = searchbar>
            <button (click) = "toggleTray()" class = 'menu-button' mat-icon-button aria-label="Open Tray">
                <mat-icon id = 'arrow' class= 'menu-icon'>arrow_forward_ios</mat-icon>
            </button>
            <input class = 'search-text'>
            
        </div>
    </div>
</div>
