<div class = main-container>
    <div  id='map' class= 'map'>

    </div>
    <div id = 'side-panel' class = 'side-panel'>
        <div class = 'side-panel-top'>
            <div class = logo-container>
                <mat-icon class = 'logo' aria-hidden="false" aria-label="Dash Logo">videocam</mat-icon>
                <span class = 'logo-text'>Dash</span>
            </div>
        </div>
        <div class = 'side-panel-main'>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    CJK190
                </mat-panel-title>
                <mat-panel-description>
                    3:48 p.m
                </mat-panel-description>
                </mat-expansion-panel-header>
                Ian Matson in 2006 blue/silver Honda Element. Stole 5 children and is currently on the run. Kill on sight.
                <br>
                <br>
                View Picture [O]
                <br>
                <br>
                <ul>
                    <li>3:48 p.m.<span>Dallas, TX</span></li>
                    <li>1:48 p.m.<span>College Station, TX</span></li>
                    <li>10:32 a.m.<span>Cypress, TX</span></li>
                    <li>10:27 a.m.<span>Cypress, TX</span></li>
                    <li>9:05 a.m.<span>Houston, TX</span></li>
                </ul>
            </mat-expansion-panel>
            
        </div>
        
    </div>
    <div id='searchbar' class = 'searchbar-container'>
        <div class = searchbar>
            <button (click) = "toggleTray()" class = 'menu-button' mat-icon-button aria-label="Open Tray">
                <mat-icon id = 'arrow' class= 'menu-icon'>arrow_forward_ios</mat-icon>
            </button>
            <AutocompleteComponent style='flex:1' class="address-input" (setAddress)="getAddress($event)" addressType="geocode"></AutocompleteComponent>
            <!--<input placeholder="Type something..." class = 'search-text'>-->
            
        </div>
    </div>
</div>
